
                {%extends "fsMgr.html" %}
                {% block header %}

		<div id="filesystem">
		<center>
			<table border="1">
                                <h3> Highlighted Search Results </h3>
                                <col width="250"><col width="250">
				{% autoescape None %}
                                <tr>
                                        <th height="30">Document</th>
                                        <th height="30">Highlight Keyword</th>
				</tr>
				<tr>
                                        <td height="30">
					{% for u in url %}
						<a href= {{ u }}> {{ u.rsplit('/',1)[1] }}<br /><br /><br /><br /><br /><br /></a>
					{% end %}
					</td>
					<td height="30">
                                        {% for c in content %}
                                            {{ c }} <br /><br /><br /><br />
                                        {% end %}
					</td>
                                </tr>
			</table>


		<br /> <br />
		<a href="http://localhost:8888/advsearch"><h3>Back to Advanced Search</h3></a>
		<a href="http://localhost:8888/root/"><h3>Home</h3></a>
		</center>
		</div>
		{% end %}
