
                {%extends "fsMgr.html" %}
                {% block header %}

		<div id="filesystem">
		<center>
			<table border="1"> 
				<h3> More Like This Results </h3>
				<col width="400">
                                <tr>
                                        <td height="50">
					Top 10 documents <br />morelikethis <a href="http://localhost:8888/{{ docpath }}"> {{docpath}} </a>
					</td>
				</tr>
				<tr>
                                        <td height="30">
                                        {% for u in like_url %}
                                               <a href="http://localhost:8888/{{ u }}">{{ u.rsplit('http://localhost:8888/',1)[1] }}</a> <br /><br />
                                        {% end %}
                                        </td>
                                </tr>

			</table>
		<br /> <br /><a href="http://localhost:8888/advsearch"><h3>Back to Advanced Search</h3></a>
		<a href="http://localhost:8888/root/"><h3>Home</h3></a>
		</center>
		</div>
		{% end %}
