                {%extends "fsMgr.html" %}
                {% block header %}

		<div id="filesystem">
		<center>
			<table border="1"> 
				<h3> Search Results </h3>
				<col width="200"> <col width="300">
				<tr>
					<td height="30">Searching..</td>
					<td height="30">{{ q }}</td>
				</tr>
                                <tr>
                                        <td height="30">Search Time</td>
                                        <td height="30">{{ runtime  }}</td>
                                </tr>

                                <tr>
                                        <td height="30">Docs Matched</td>
                                        <td height="30">{{ occurences }}</td>
                                </tr>
                                <tr>
                                        <td height="30">Showing Top 10 Documents</td>
                                        <td height="30">
                                        {% for u in url %}
                                                <a href= {{ u }}> {{ u.rsplit('/',1)[1] }}<br /></a>
                                        {% end %}
                                        </td>
                                </tr>

			</table>
		<a href="http://localhost:8888/root/"><h3>Home</h3></a>
		</center>
		</div>
		{% end %}
